<div class="mt-5 container">
  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <h2><%= f.input :name %></h2>
  </div>

  <%= f.input :photo, as: :file %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<div id="link-new">
  <h2><%= link_to 'Back', cocktails_path %></h2>
</div>

</div>