<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="show">
    <div class="show-desc">
      <h2>
        <%= @cocktail.name %>
      </h2>
      <table class="table" id="c-table">
        <thead>
          <tr>
            <th>Dose</th>
            <th>Ingredient</th>
          </tr>
        </thead>
      
        <tbody>
          <% @doses.each do |dose| %>
            <tr>
              <td><%= dose.description %></td>
              <td><%= dose.ingredient.name%></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div id="link-new">
        <h2><%= link_to 'Add an Ingredient', new_cocktail_dose_path(@cocktail) %> </h2>
        <br>
        <h4><%= link_to 'Back', cocktails_path %> </h4>
      </div>
  
    </div>
    <div class="mt-5 ml-5 show-img">
      <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 400, width: 500, crop: :fill %>
      <% end %>
    </div>
      
  </div>

</div>

