<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @cocktail.name %>
    <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </p>

  <table>
    <thead>
      <tr>
        <th>Dose</th>
        <th>Ingredient</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @doses.each do |dose| %>
        <tr>
          <td><%= dose.description %></td>
          <td><%= dose.ingredient.name%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Add Doses', new_cocktail_dose_path(@cocktail) %> 
  <%= link_to 'Back', cocktails_path %> 
</div>

